body {
	font-family: sans-serif;
	text-align: center;
	margin: 0 auto;
	background-color: lightgrey;
	padding: 50px;
  }
  
  button {
	padding: 10px 20px;
	background-color: blue
	color: white;
	border: none;
	cursor: pointer
  }
  
  button:hover {
	background-color: darkblue;
  }
  